{% extends "base.njk" %}

{% block metaStuff %}
<title>About Us</title>
{% endblock %}

{% block main %}
	<h1 id="about-the-minecraft-tour">About The Minecraft Tour!</h1>
	<h2 id="who-created-this-world">Who created this world?</h2>
	<section>
		<p>This world was created by the click of a button by a group of friends on a bored night! 
		Like most minecraft worlds, it was randomly generated filled with many environmental 
		biomes like jungles, forests, deserts, and much more.</p>
	</section>
	<h2 id="how-will-we-traverse-this-world">How will we traverse this world?</h2>
	<section>
		<p>We will use many modes of transportation to travel this perilous world 
		like boats, rail roads, and much more.</p>
	</section>
	<h2 id="what-about-our-safety">What about our safety?!</h2>
	<section>
		<p>Safety is not guaranteed! But we will provide an abundance of food, 
		armour, weapons, and light. Note, we will not be held liable for any 
		falls from great heights.</p>
	</section>
{% endblock %}