{% extends "base.njk" %}
{% block metaStuff %}
    <title>Forbidden!</title>
{% endblock %}

{% block main %}
    <h1>Forbidden</h1>
    <h2>Sorry, your not supposed to see this!</h2>
{% endblock %}