{% extends "base.njk" %}

{% block metaStuff %}
<title>Home</title>
{% endblock %}

{% block main %}
	<h1 id="welcome">Welcome</h1>
	<h2 id="prepare-for-an-amazing-adenture">Prepare for an amazing adenture!</h2>
	<figure>
		<img src="websiteImages/fortCastle.png" alt="fortCastle">

		<p>Say hello to your new tour guide! This man is a battle hardened adventurer who has traveled 
		across the farthest seas, scaled only the tallest mountains, and battled through the most
		dangerous and deepest caves of this world. The perfect man to lead this tour guide!</p>
		<figcaption>Fort Castle</figcaption>
	</figure>

	<h2 id="visit-some-of-the-most-perfectly-engineered-man-made-structures">Visit some of the most perfectly engineered man-made structures!</h2>
	<figure>
		<img src="websiteImages/thunderDome.png" alt="thunderDome">

		<p>This world isn&#39;t all dangerous, in some locations other adventurers have 
		constructed some of the most creative structures inside this world.</p>
		<figcaption>Thunder Dome</figcaption>
	</figure>

	<h2 id="the-amount-of-undiscovered-and-unique-worlds-is-endless">The amount of undiscovered and unique worlds is endless!</h2>
	<figure>
		<img src="websiteImages/netherWorld.png" alt="netherWorld">

		<p>We&#39;ll visit biomes such as jungles, forests, deserts, oceans, all the 
		way to lands with mushrooms the size of trees and plenty more!</p>
		<figcaption>Nether World</figcaption>
	</figure>
{% endblock %}