{% extends "base.njk" %}

{% block metaStuff %}
<title>Login Error!</title>
{% endblock %}

{% block main %}
    <h1>Login Error!</h1>
    <h2>Unfortunatley, the email or password you entered was incorrect. Please try again</h2>
{% endblock %}